<footer>
    <!-- <section class="acount">
        <i class="fa-brands fa-instagram"></i>
        <a class="fa-brands fa-instagram"href=""></a>
        <a class="fa-brands fa-twitter" href=""></a>
    </section> -->
    <small>
        Copyright &copy; 2025 KAI NAKAMURA. All Rights Reserved. 
    </small>
</footer>

<style>
footer {
  /* background-color: #EEEEEE; */
  text-align: center;
  color: white;
  /* background-color: black; */
  font-family: 'Oswald', sans-serif;
  padding: 10px 0;
}
small {
  display: block;
  margin: 5px;
}
@media screen and (max-width: 480px){
  footer{
    padding: 20px 0; /* 上下に余白を追加 */
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
  }
  small{
  margin-top: 30px;
  margin-bottom: 10px;
}
}
</style>